---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Message sent" description="Your message has been sent successfully.">
  <h1>Thank you</h1>
  <p>Your message has been sent. We'll get back to you soon.</p>
  <p><a href="/">Back to home</a></p>
</BaseLayout>
